@media screen and (max-width: 400px) {
    .main {
        padding: 0px 0px;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    header {
        padding: 15px 0px;
    }
    .photog-tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 12px;
    }
    .photog-card {
        width: 100%;
    }
    #banner {
        flex-grow: 1;
        order: 1;
        max-width: 50%;
        margin: 0;
    }
    #photographers {
        flex-grow: 1;
        order: 2;
        max-width: 50%;
        font-size: 14px;
    }
    .sr-only {
        flex-grow: 2;
        order: 3;
    }
    #fishlogo {
        max-width: 150px;
    }
    .wrapper {
        padding: 0px 0px;
    }
    body {
        padding: 0px 0px;
    }
    #navigation {
        text-align: center;
    }
    #contact {
        position: fixed;
        right: 50%;
        bottom: 20px;
    }
    #price {
        display: none;
    }
    .thumbnail {
        max-width: 150px;
        max-height: 150px;
    }
    .thumbnail-img {
        max-width: 200px;
    }
    .nav-tag {
        font-weight: bolder;
    }
    #photo-order {
        display: none;
    }
    #img-listing {
        flex-flow: column;
    }
    .photo-card {
        max-width: 330px;
        width: 100%;
        padding: 10px 10px;
    }
    .photo-list {
        margin: 0 auto;
        max-height: 200px;
    }
    .photo-infos {
        margin-top: 10px;
    }
}